.githubCorner:hover .octocatArm {
  animation: octocatWave 560ms ease-in-out;
}

@keyframes octocatWave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .githubCorner:hover .octocatArm {
    animation: none;
  }
  .githubCorner .octocatArm {
    animation: octocatWave 560ms ease-in-out;
  }
}

.svg {
  fill: #fff;
  color: #151513;
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
  z-index: 999;
}

.octocatArm {
  transform-origin: 130px 106px;
}
